<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WeatherAPI</title>
        <link rel="stylesheet" href="css/style.css">

        <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
</head>
<body>

  <h1> The current Temperature in <%=city %> is </h1>
  <h1><%= temperature %> Degree Celcius  </h1>
  <h2><%= weather %></h2>
  <img src="<%= image %>" alt="">

</body>
</html>
